@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Chillax Medium font import */
@font-face {
  font-family: 'Chillax Medium';
  src: url('/fonts/OTF/Chillax-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body, html {
  @apply bg-white;
}

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Chillax Medium', sans-serif;
  font-weight: 500;
}

h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

button, .button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
